.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(59, 152, 121);
  
}
.body{
  height: 400px;
  width: 400px;
  justify-content: space-around;
  border: 0.5mm solid black;
  align-items: center;
}
 nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aqua;
 }